html{
    height: 100%;
}


body{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#btn{
    height: 4%;
    width: 5%;
    background-color: darkred;
    color: white;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
#btn:hover{
    box-shadow: 3px 3px 15px black;
    height: 5%;
}
#btn:active{
    box-shadow: 1px 1px 15px black;
    height: 4%;
}